<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Mobile SMOKE TEST OLXID" verbose="2" parallel="tests" thread-count="1">

    <!--<listeners>-->
    <!--<listener class-name="listeners.RetryListeners" />-->
    <!--</listeners>-->

    <test name="Example Login Test" preserve-order="false">
        <classes>
            <class name="Steps.CucumberJvmTest"/>
        </classes>
    </test>

</suite>